{% extends 'maqueta.html' %}
{% load staticfiles %}

{% block principal %}
<link rel="stylesheet" href="{% static 'css/estiloForm.css' %}">
{% if actual.is_staff %}
  <form method="POST" id="formulario" name="formulario" enctype="multipart/form-data">
    <h1>Registro Lugar</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Enviar" class="btn-enviar">
      {% if mensaje != "" %}
        <script languaje='javascript'>alert('{{mensaje}}')</script>
      {% endif %}
  </form>
{% else %}
  <form id="formulario">
    <h1>Sin Permisos Suficientes</h1>
  </form>
{% endif %}
{% endblock %}